<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="vip.lovek.person">

    <application>
        <activity
            android:name="vip.lovek.person.MainActivity"
            android:exported="true" />
    </application>

</manifest>