<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="vip.lovek.interview">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Interview">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Interview.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".animate.AnimateMainActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".third_library.OkioActivity" />
        <activity android:name=".plugin.HotFixActivity" />
        <activity android:name=".third_library.retrofit.OkhttpActivity" />
        <activity android:name=".third_library.retrofit.RetrofitActivity" />
        <activity android:name=".plugin.PluginActivity" />
        <activity android:name=".third_library.butterknife.ButterKnifeActivity" />
        <activity android:name=".aidl.AidlActivity" />
        <activity android:name=".plugin.ProxyActivity" />
        <activity android:name=".base.life.LifeActivityA" />
        <activity android:name=".base.life.LifeActivityB" />
        <activity android:name=".mvvm.MvvmActivity" />
        <activity
            android:name=".base.life.LifeActivitySingTopB"
            android:launchMode="singleTop" />

        <service
            android:name=".aidl.PersonService"
            android:enabled="true"
            android:exported="true"
            android:permission="vip.lovek.interview"
            android:process=":person" />
    </application>

</manifest>